.App {
  text-align: center;
}

form {
 width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid hsl(0, 5%, 84%);
  border-radius: 5px;
  background-color: rgb(115, 115, 170);
  font-size: 1.5rem;
}


input{
  display: inline-block;
  width: 200px;
 border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display:inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 200px;
}


button{
  background-color: #2b9468;
    padding: auto;
  border: 1px solid #868623;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 10px ;
  width: 120px;
  font-size: 1.25rem;
}
p{
  display: inline-block;
  width: 150px;
  border-radius: 20px;
   text-align: center;
  font-family: 'Times New Roman', Times, serif;
font-size: 1.5rem;
font-weight: 600;
background-color:gray;
margin: 10px;
padding: 6px;
}
body{
  background-color: #8e9897;
  background-image: url(https://img.freepik.com/free-vector/cricket-world-cup-2023-batsman-bowler-playing-cricket-championship-background_460848-16978.jpg?semt=ais_hybrid);
 background-attachment: fixed;
}
.di1{
  width: 90%;
 
  align-items: center;
  display: inline-block;
  padding: 50px 0px 50px 0px;
  margin-top: 2%;
  border-radius: 25px;
  background-image: linear-gradient(180deg,#fffff2,#fcf9f9);
}
.ch1{
  width:  auto;
}

.nl1{
  color: #000601;
  text-decoration:none;
  border: solid;
  margin: 50px;
  
}


